<div>

  <div ng-click="updateScore()">
    <div>date: {{girlData.day}}</div>
    <div>name: {{girlData.name}}</div> <br>
    <div>bang &nbsp&nbsp<input class="checks" type="checkbox" ng-checked="girlData.bang" ng-model="score.bang" ng-true-value="8" ng-false-value="0"></div> <br>
    <div>blow &nbsp&nbsp<input class="checks" type="checkbox" ng-checked="girlData.blow" ng-model="score.blow" ng-true-value="6" ng-false-value="0"></div> <br>
    <div>kiss &nbsp&nbsp<input class="checks" type="checkbox" ng-checked="girlData.kiss" ng-model="score.kiss" ng-true-value="2" ng-false-value="0"></div> <br>
    <div>date &nbsp&nbsp<input class="checks" type="checkbox" ng-checked="girlData.date" ng-model="score.date" ng-true-value="1" ng-false-value="0"></div> <br>

  </div> <br>

  <div ng-click="sendUpdatedGirlData()">Save and Update</div> <br>

  <div>Score: {{score.score}}</div>

  <div ng-click="backToGirls()">Back to Girls</div>

</div>