<div>

  <div style="text-align:center;font-size:35px">{{userName}}'s Editor </div><br>

  <div style="text-align:center; font-size: 10px"> Tap a girl to edit her points </div>

  <ul class="list-group" ng-repeat="data in testData">
    <li class="list-group-item" ng-click="editPerPerson()"> {{data.name}} {{data.day}} <span style="float:right; font-size:25px">{{data.score}}</span></li> <br>
  </ul>

  <div class="text-center">

    <div class="btn btn-primary btn-lg" style="font-size: 30px" ng-click="goToAddGirl()">Add</div> <br> <br>

    <div style="font-size: 25px">Total Points: {{totalScore()}}</div> <br> 

    <div class="btn btn-primary btn-lg" style="font-size: 20px" ng-click="goToAllPoints()">Back to All Points</div>

  </div>
</div>
