<div>

  <div>
    <ul class="list-group" ng-repeat="user in users | toArray | orderBy:'-totalScore'">
      <li style="height:120px; font-size: 60px; margin-top:auto; margin-bottom: auto" class="list-group-item">{{user.name}}<span style="font-size: 60px; float:right">{{user.totalScore}}</span></li>
    </ul>

    <div class="col-xs-8 col-xs-offset-2 text-center">
      <br>
      <div ng-click="goToEditor()" class="btn btn-primary btn-lg" style="font-size: 55px"> Edit my Points </div>
      <br><br><br>
      <div ng-click="logOut()" class="btn btn-primary btn-lg" style="font-size: 45px;">Log Out</div>
    </div>
  </div>
</div>